[Unit]
Description= OSC GPIO
After=network-online.target
[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi/Documents/osc_rpi_shutdown
Type=simple
ExecStartPre=/usr/bin/sleep 10
ExecStart=/usr/bin/python -u main.py
Restart=on-abort
[Install]
WantedBy=multi-user.target